<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="view/index/index.css" />
        <script type="module" src="view/index/scripts/index.mjs"></script>
    </head>
    <body>
        <%- include('./partials/form_list_records.ejs'); %>
        <%- include('./partials/form_add_record.ejs'); %>
    </body>
</html>